.field(data-role="fieldcontain")
  %label.ui-input-text ชื่อ
  = b current_user.code
.field(data-role="fieldcontain")
  %label.ui-input-text โทรศัพท์
  = b current_user.phone
.field(data-role="fieldcontain")
  %label.ui-input-text Email
  = b current_user.email
.field(data-role="fieldcontain")
  %label.ui-input-text อำนาจดำเนินการ
  = b current_user.role

- if @xmains
  %h2 งานที่อยู่ระหว่างดำเนินการ
  = render :partial=>"mindapp/pending_page", :locals=>{:xmains=>@xmains}
